/* general styling */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --font-primary: 'Rubik', sans serif;
    --color-primary: #ffffff;
    --color-secondary: #370CAD;
    --text-color-primary: #000000;
    --text-color-secondary: #370CAD;
    --text-color-tertiary: #ffffff;
}

h1, 
h2,
h3,
p,
li {
    font-family: var(--font-primary);
}

/* text gradient for headings */

h1 {
background: #370CAD;
background: linear-gradient(to top right, #370CAD 0%, #13BCCF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


/* header/nav styling */

ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    border-style: none;
}

.btn:hover {
    opacity: 0.7;
}