/* general styling */

html {
    box-sizing: border-box;
    font-size: 1.2rem;
}

body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --font-primary: 'Rubik', sans serif;
    --color-primary: #ffffff;
    --color-secondary: #370CAD;
    --text-color-primary: #272727;
    --text-color-secondary: #370CAD;
    --text-color-tertiary: #ffffff;
    --text-color-location: #1f7fc3;
    --gradient-primary: linear-gradient(to top right, #370CAD 0%, #13BCCF 100%);
}

h1, 
h2,
h3,
h4,
p,
li {
    font-family: var(--font-primary);
}

h1 {
    padding-top: 2rem;
    text-align: center;
}

/* text gradient for headings */

h1 {
background: #370CAD;
background: var(--gradient-primary);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


/* header/nav styling */

header {
    margin-top: 2rem;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.nav__toggle {
    display: none;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: black;
}



.btn {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    border-style: none;
}

.btn:hover {
    opacity: 0.7;
}

/* Main page link styles */

main a {
    text-decoration: underline;
}

main a:hover {
    color: var(--text-color-location);
}

/* Footer styling */

footer {
    text-align: center;
    background: var(--gradient-primary);
    padding: 4rem;
}

footer h2 {
    color: var(--text-color-tertiary);
}

footer ul {
    margin: 0;
    padding: 0;
}

footer [class*="fa-"] {
    font-size: 250%;
    color: var(--color-primary);
    padding: 0.5rem;
}

.icon__container {
    margin: 0px auto;
}

/* MEDIA QUERIES */

@media (max-width: 700px) {
    .nav__toggle {
        display: block;
        font-size: 3rem;
        background: transparent;
        border: none;
        cursor: pointer; 
        margin: 0 auto;
        padding-top: 2rem;
    }

    .nav__toggle:hover {
        background: #370CAD;
        background: var(--gradient-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .nav__logo {
        display: none;
    }

   .links { 
        height: 0;
        overflow: hidden;
    } 

    .show__links {
        display: flex;
        flex-flow: column wrap;
        height: 10rem;
        margin-top: 2rem;
        padding-right: 2rem;
    }

    .show__links a:hover {
        color: var(--text-color-location);
    }


}