@import "./base.css";

nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.logo__img-full {
    max-width: 200px;
}

main {
    text-align: center;
}

/* button styling */

.btn {
    margin: 0.5rem;
}

.main__button-colored {
    background: var(--gradient-primary);
    color: var(--text-color-tertiary);
}

.main__button-white {
    background-color: var(--color-primary);
    color: var(--gradient-primary);
    border: 2px solid var(--color-secondary);
}

/* Projects section styling */

projects {
    text-align: left;
    margin: 6rem 2rem;
}

/* Projects grid layout */

.projects__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
}

/* Figcaption styling */

figure {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 0;
    padding: 0;
}

figure img {
    max-height: 300px;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/4;
}

figcaption {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: #001219;
    opacity: 0.7;
    color: var(--text-color-tertiary);
    padding: 0.5rem;
}

figcaption * {
    margin: 0.5rem;
}

/* Testimonials styling*/

.testimonials {
    margin: 6rem 2rem;
}

.testimonials__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #b2bdc4;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0.5rem;
    color: var(--text-color-tertiary);
}

.prev-btn,
.next-btn {
    background: var(--gradient-primary);
    color: var(--text-color-tertiary);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 20px;
}

.testimonials__img-container {
    border-radius: 50%;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#student-img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#testimonials__author {
    flex-basis: 100%;
    margin: 0.25rem;
}
#testimonials__location {
    flex-basis: 100%;
    margin: 0.25rem;
}
