@import "./base.css";

nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.logo__img-full {
    max-width: 200px;
}

main {
    text-align: center;
}

.personal__blurb {
    width: 60%;
    margin: 0 auto;
}

/* button styling */

.btn {
    margin: 0.5rem;
}

.btn > a {
    color: var(--text-color-tertiary);
}

.main__button-colored {
    background: var(--gradient-primary);
    color: var(--text-color-tertiary);
}

.main__button-white {
    background-color: var(--color-primary);
    border: 2px solid var(--color-secondary);
}

/* Projects section styling */

.projects {
    text-align: center;
    margin: 4rem;
}

/* Projects grid layout */

.projects__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
    padding: 2rem;
}

/* Figcaption styling */

figure {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.35); 
    box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.35);
}

figure img {
    /* height: 100%; */
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/4;
    object-fit: fill;
}

figure a {
    grid-column: 1/2;
    grid-row: 1/4;
}

figcaption {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: #001219;
    opacity: 0.6;
    color: var(--text-color-tertiary);
    padding: 0.5rem;
    cursor: pointer;
    pointer-events: none;
}

figcaption > p {
    font-weight: lighter;
}

figcaption * {
    margin: 0.5rem;
}

/* Testimonials styling */

.testimonials__main {
    margin: 3rem 2rem;
}

.testimonials__blurb {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.testimonials__blurb a {
    color: var(--text-color-location);
}
.testimonials__blurb iframe {
    box-shadow: 5px 5px 10px rgba(101, 100, 100, 0.6);
    border-radius: 10px;
    margin-bottom: 2rem;
}

.testimonials__blurb p {
    width: 70%;
    padding: 
}

.testimonials__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #b2bdc4;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0.5rem;
    color: var(--text-color-tertiary);
    box-shadow: 5px 5px 10px rgba(101, 100, 100, 0.6);
}

.prev-btn,
.next-btn {
    background: var(--text-color-location);
    color: var(--text-color-tertiary);
    padding: 0.5rem 3rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
    opacity: 0.7;
}

.fa-chevron-left,
.fa-chevron-right {
    font-size: 150%;
}

.testimonials__img-container {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    filter: drop-shadow(8px 8px 15px rgba(101, 100, 100, 0.8));
}

#student-img {
    object-fit: fill;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

#testimonials__author {
    flex-basis: 100%;
    margin-bottom: 0;
    
}
#testimonials__location {
    flex-basis: 100%;
    padding: 0;
    margin: 0;
    font-weight: lighter;
    color: var(--text-color-location);
}

#testimonials__text {
    padding: 0.5rem 2rem;
}

/* MUSIC GRID IMG STYLING */

.music__grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: auto;
    gap: 0px;
    margin: 1rem 2rem;
}

.music__grid-img {
    object-fit: cover;
}

.portrait {
    width: 200px;
    height: 400px;
}

.landscape {
    width: 400px;
    height: 200px;
}

.youtube {
    grid-column: span 2;
}

.square {
    width: 200px;
    height: 200px;
}