/* GENERAL STYLING */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

:root {
    --background-color-primary: #4eb1b7;
    --background-color-secondary: #ffffff;
    --btn-color-primary: #77b55a;
    --btn-color-border: #4b8f29;
    --title-underline: #6aaa9b;
    --font-primary: "Open Sans", sans-serif;
    --font-secondary: Arial, Helvetica, sans-serif;
}

main {
    background-color: var(--background-color-primary);
}

.container {
    width: 75%;
    margin: 0 auto;
    
}

.designContainer {
    padding: 2.6rem;
    padding-bottom: 2rem;
}

.designContainerImg {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(170, 170, 170, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(170, 170, 170, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(170, 170, 170, 0.75);
}

.designContainerImg2 {
    -webkit-box-shadow: 10px 10px 93px 0px rgba(221, 221, 221, 1);
    -moz-box-shadow: 10px 10px 93px 0px rgba(221, 221, 221, 1);
    box-shadow: 10px 10px 93px 0px rgba(221, 221, 221, 1);
}

.page__banner {
    width: 100%;
}

/* GRID STYLING */

.grid__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
}

.card__img-holder {
    padding: 2rem;
    background-color: rgb(241, 237, 237);
}

figure img {
    width: 100%;
    box-shadow: 10px 10px 5px 0px rgba(170, 170, 170, 0.75);
}

.card__info-container {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
    font-family: var(--font-secondary);
}

.card__designer {
    flex-basis: 100%;
}

.card__price {
    font-weight: lighter;
}

figcaption > * {
     margin-bottom: 0; 
     padding-left: 0;
}

@media (max-width: 1200px) {
    .grid__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 750px) {
    .grid__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}